<%= form_for @supporter, html: {role:"form"} do |f| %>
<div class="row">
  <div class="col-md-2">
    <label for="name">Name</label>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label for="email">Email</label>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label for="department">Department</label>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <p>
        <%  tech = (@supporter.department == 'Technical' ? true : false)%>
        <%  sales = (@supporter.department == 'Sales' ? true : false)%>
        <%  marketing = (@supporter.department == 'Marketing' ? true : false)%>

        Technical <%= radio_button_tag 'department', 'Technical', tech%>
        Sales <%= radio_button_tag 'department', 'Sales', sales%>
        Marketing <%= radio_button_tag 'department', 'Marketing', marketing%>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label for="message">Message</label>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <%= f.text_area :message, size: "60x12", class: "form-control"%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <div class="form-group">
      <%= f.submit "#{@supporter.persisted? ? "Update" : "Create"}", class: "form-control"%>
    </div>
  </div>
</div>

<% end %>
